* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* header/ nav bar styles start */
header {
    padding: 20px 35px;
    background-color:darkslategray;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: navajowhite;
}
header a {
    text-decoration: none;
    color: yellow;
}
header nav {
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}
/* header/ nav bar styles end */

/* style all section tags */
section {
    padding: 60px;
}
/* hero styles start */
.hero {
    background-image: url(../images/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}
.hero-cta {
    width: 35%;
    text-align: right;
    margin: 3.5%;
    color: yellow;
    font-size: 18px;
    line-height: 1.2;
}
.hero-cta h2 {
    font-style: italic;
    font-size: 55px;
    color: navy;
}
.hero-form {
    border: 3px solid lightsteelblue;
    background-color: olivedrab;
    padding: 20px;
    color: lightcyan;
    width: 40%;
    margin: 3.5%;
}
.hero-form h3 {
    font-size: 24px;
    margin: 0;
}
.hero-form p {
    margin: 5px 0 15px 0;
}
.form-input {
    border: 1px solid olive;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: darkgreen;
    width: 100%;
    margin-bottom: 15px;
}
.hero-form label {
    margin: 0 5px;
}
.hero-form button {
    color: darkblue;
    background-color: palegreen;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}
/* hero styles end */

/* section title styles start */
.section title {
    font-size: 48px;
    border-bottom: 3px solid;
    color: lavender;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
}
.primary-border {
    border-color: orange;
}
.secondary-border {
    border-color: brown;
}
/* section title style end */

/* what we do section start */
.intro p {
    line-height: 1.7;
    color: blue;
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
}
/* what we do style end */